<section class="home-section home-fade home-full-height" id="home">

                <div class="banner-caption">
                    <div class="banner-content">

                        <div class="font-alt mb-40 banner-title-size-4">Kyrie 7</div>
                        <a
                                class="section-scroll btn btn-border-w btn-round"
                                href="products.php"
                        >Discover now!</a
                        >
                    </div>
                </div>
</section>