<div class="row">
    <div class="col-sm-6 mb-sm-40"><img src=uploads/@prod_image@ alt="@prod_naam@"/>

    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="product-title font-alt">@prod_naam@</h1>
            </div>
        </div>
        <div class="row mb-20">
            <div class="col-sm-12">
                <div class="price font-alt"><span class="amount">€@prod_prijs@</span></div>
            </div>
        </div>
        <div class="row mb-20">
            <div class="col-sm-12">
                <div class="description">
                    <p>@prod_beschrijving@</p>
                </div>
            </div>
        </div>
        <form action="product.php">
        <div class="row mb-20">
            <div class="col-sm-4 mb-sm-20">
                <input class="form-control input-lg" type="number" name="prod_aantal" value="1" max=@prod_aantal@ min="1" required="required"/>
                <input type="hidden" name="prod_id" id="prod_id" value="@prod_id@">
            </div>
            <div class="col-sm-8">
                <input type="submit" class="btn btn-lg btn-block btn-round btn-b" value="Add To Cart" ></input>
            </div>
        </div>
        </form>

    </div>
</div>