<tr>
    <td class="hidden-xs">
        <a href="#"
        ><img src=uploads/@prod_image@ class="pic" alt=""/></a>
    </td>
    <td>
        <h5 class="product-title font-alt">@prod_naam@</h5>
    </td>
    <td class="hidden-xs">
        <h5 class="product-title font-alt">€@prod_prijs@</h5>
    </td>
    <td>

        <input
                class="form-control"
                type="number"
                name="prod_aantal"
                value=""
                max="@prod_aantal@"
                min="1"
        />
    </td>
    <td>
        <h5 class="product-title font-alt">€@prod_prijs@</h5>
    </td>
    <td class="pr-remove">
        <a href="#" title="Remove">X</a>
    </td>
</tr>





